{
  "extends": [
    "@antfu/eslint-config-react",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "18.0"
    }
  },
  "rules": {
    "no-console": [0],
    "dot-notation": [0],
    "jsx-quotes": ["error", "prefer-double"],

    "react/react-in-jsx-scope": "off"
  }
}
